<body class="d-flex">
<app-sidebar class="d-flex"></app-sidebar>
<div class="container-fluid p-4 d-flex flex-grow-1 flex-column">
  <h2 class="mb-4">My maps</h2>
  <div class="row flex-grow-1">
    <a routerLink="" class="col-md-3">
    <div class="col-md-3">
      <div class="map-card">
        <div class="map-thumbnail"></div>
        <p class="text-center">Real World (boring)</p>
      </div>
    </div>
    </a>
    <div class="col-md-3">
      <div class="map-card add-map">
        <div class="map-thumbnail d-flex align-items-center justify-content-center">
          <span class="plus-sign">+</span>
        </div>
        <p class="text-center">ADD MAP</p>
      </div>
    </div>
  </div>
</div>
</body>
