  <form class="marker-options-panel" *ngIf="marker && isVisible" (ngSubmit)="onSave()">
    <h3>Marker Details</h3>
    <p *ngIf="marker"><strong>Location:</strong> {{ getFormattedCoordinates() }}</p>

    <label class="label">Name</label>
    <input
      type="text"
      [(ngModel)]="markerName"
      name="markerName"
      required
      #markerNameModel="ngModel"
      [class.invalid]="markerNameModel.invalid && markerNameModel.touched"
    />
    <div *ngIf="markerNameModel.invalid && markerNameModel.touched" class="error">
      Name is required.
    </div>


    <label class="label">Label</label>
    <select [(ngModel)]="marker.idLabel" name="label">
      <option [ngValue]="0">No Label</option>
      <option *ngFor="let label of labels" [ngValue]="label.labelID">{{ label.name }}</option>
    </select>

    <label class="label">Description</label>
    <textarea [(ngModel)]="marker.markerDescription" name="description" placeholder="Add description"></textarea>

    <div class="button-row">
      <button type="button" class="cancel" (click)="onCancel()">Cancel</button>
      <button type="button" class="delete" (click)="onDelete()">Delete</button>
      <button type="submit" class="save">Save</button>
    </div>
  </form>
