<div class="marker-options-panel" *ngIf="marker && isVisible">
  <h6>Marker Options</h6>
  <div class="icon-grid">
    <div class="icon" *ngFor="let icon of icons; let i = index"
         [class.selected]="selectedIconIndex === i"
         (click)="selectIcon(i)">
      <img [src]="icon" alt="icon"/>
    </div>
  </div>

  <h3>Marker Details</h3>
  <p *ngIf="marker"><strong>ID:</strong> {{ marker.markerId }}</p> <!-- Display marker ID -->
  <p *ngIf="marker"><strong>Location:</strong> {{ getFormattedCoordinates() }}</p>

  <label class="label">Name</label>
  <input type="text" [(ngModel)]="markerName" placeholder="Add marker name">

  <label class="label">Description</label>
  <textarea [(ngModel)]="description" placeholder="Add description"></textarea>

  <div class="button-row">
    <button class="cancel" (click)="onCancel()">Cancel</button>
    <button class="delete" (click)="onDelete()">Delete</button>
    <button class="save" (click)="onSave()">Save</button>
  </div>
</div>
