<body  style="background-color: #0a2541;">
<div class="login-container d-flex align-items-center justify-content-center">
  <div class="card p-4 shadow-lg custom-bg">
    <h2 class="text-center text-white">Welcome!</h2>
    <form [formGroup]="form" (submit)="save()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
          placeholder="Enter your username"
          [class.is-invalid]="form.get('username')?.invalid && form.get('username')?.touched">
        <div class="invalid-feedback" *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
          Username is required
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
          [class.is-invalid]="form.get('password')?.invalid && form.get('password')?.touched">
        <div class="invalid-feedback" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
          Password is required
        </div>
      </div>

      <!-- Show loading spinner if the request is in progress -->
      <div *ngIf="loading" class="d-flex justify-content-center mt-2">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <!-- Disable the button and show the spinner when loading -->
      <button type="submit" class="btn btn-success w-100" [disabled]="loading || form.invalid">Sign In</button>
    </form>

    <div class="alert alert-danger mt-3" *ngIf="message">
      Invalid username or password
    </div>

    <div class="text-center mt-2">
      <p>Don't have an account?</p>
      <a ariaCurrentWhenActive="page" class="text-decoration-none" routerLink="/register" routerLinkActive="active">Register</a>
    </div>
  </div>
</div>
</body>
