body {
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  align-content: center;
}

.custom-bg {
  background: linear-gradient(150deg,var(--dark-green) 60%,rgb(21, 37, 17) 40%);
}

.text-custom {
  color: --text-color;
}