:host {
  display: block;
  height: 100vh;
  margin: 0;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-bg {
  background: linear-gradient(150deg, var(--dark-green, #14532d) 60%, rgb(21, 37, 17) 40%);
}

.text-white {
  color: #fff !important;
}
