<div class="sidebar">
  <!-- Uživatelská sekce -->
  <div>
    <div class="user-section">
      <a routerLink="/sign-in" routerLinkActive="active" ariaCurrentWhenActive="page">
        <div class="user-avatar"></div>
      </a>
      <a routerLink="/sign-in" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span class="username">USERNAME</span>
      </a>
    </div>

    <input type="text" class="search-box" placeholder="Search" />

    <ul class="nav-links">
      <li class="nav-item" routerLink="/shared" routerLinkActive="active" ariaCurrentWhenActive="page">
        <a>
        <span class="icon">🔗</span>
        <span class="text">Shared</span>
          </a>
      </li>
      <li class="nav-item" routerLink="/memories" routerLinkActive="active" ariaCurrentWhenActive="page">
        <a>
        <span class="icon">🕒</span>
        <span class="text">Memories</span>
        </a>
      </li>
      <li class="nav-item" routerLink="/my-maps" routerLinkActive="active" ariaCurrentWhenActive="page">
        <a>
        <span class="icon">🗺️</span>
        <span class="text">My maps</span>
        </a>
      </li>
      <li routerLink="/settings" routerLinkActive="active" class="nav-item" ariaCurrentWhenActive="page">
        <a>
        <span class="icon">⚙️</span>
        <span class="text">Settings</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Spodní část -->
  <div class="bottom-section">
    <img routerLink="" routerLinkActive="active" ngSrc="bench.png" height="69" width="69" alt="Tahm" class="logo"/>
    <span class="brand">TUDY TAHM</span>
  </div>
</div>
