:host {
  display: flex;
  width: 100%;
  height: 100vh;
}

.settings-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-content {
  flex-grow: 1;
  background-color: var(--primary-green);
  min-height: 100vh;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background: linear-gradient(150deg,var(--dark-green) 60%,rgb(21, 37, 17) 40%);
  border-bottom: 1px solid var(--gold);
  background-color: var(--dark-green);

  h1 {
    color: var(--gold);
    margin: 0;
    font-size: 24px;
  }
}

.gear-icon {
  width: 32px;
  height: 32px;
  color: var(--gold);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-section {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--dark-green);

  .user-avatar {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
  }

  .username {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    color: var(--gold)
  }
}

.options {
  list-style: none;
  padding: 30px;
  color: var(--white);
}

.user-options{
  border-bottom: 2px solid var(--dark-green);
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 10px

}

.general-options{
  border-bottom: 2px solid var(--dark-green);
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 10px
}


.options-pressable {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 16px;
    width: percentage(0.15);


    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }

    }
