<div class="settings-container">
  <app-sidebar></app-sidebar>

  <div class="main-content">

    <div class="header">
      <div class="gear-icon">
        <i class="fas fa-gear"></i>
      </div>
      <h1 class="page-title">Settings</h1>
    </div>

    <div class="options">
      <div class="user-section">
        <div class="user-avatar"></div>
        <span class="username">USERNAME</span>
      </div>
      <div class="user-options">
        <div class="options-pressable">Change Username</div>
        <div class="options-pressable">Change Email</div>
        <div class="options-pressable">Change Password</div>
        <div class="options-pressable">Change Profile Picture</div>
      </div>
      <div class="general-options">
        <div class="options-pressable">Manage Groups</div>
        <div class="options-pressable">Manage Labels</div>
        <div class="options-pressable">Manage Maps</div>
      </div>
    </div>

  </div>
</div>
