<div class="marker-options-panel">
  <h6>Marker options</h6>
  <div class="icon-grid">
    <div class="icon" *ngFor="let icon of icons">
      <img ngSrc="icon" alt="icon" fill/>
    </div>
  </div>
  <h3>Marker Details</h3>
  <p><strong>Latitude:</strong> {{ marker?.getLatLng()}}</p>
  <p><strong>Longitude:</strong> {{ marker?.getLatLng()}}</p>

  <label class="label">Labels</label>
  <hr />

  <textarea placeholder="Add description"></textarea>

  <div class="button-row">
    <button class="cancel">Cancel</button>
    <button class="save">Save</button>
  </div>
</div>
