/* You can add global styles to this file, and also import other style files */
@import '../node_modules/leaflet/dist/leaflet.css';
/* styles/_variables.scss */
:root {
  --primary-green: #4A724A;
  --dark-green: #2A402A;
  --light-green: #5C8B5C;
  --white: #FFFFFF;
  --gray: #F0F0F0;
  --text-color: #FFFFFF;
  --gold: #e6c37b
}
.leaflet-popup-content-wrapper {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.leaflet-popup-tip {
  display: none;
}
