// Barvy podle předlohy
$sidebar-bg: var(--dark-green); // Tmavě zelená
$sidebar-text: var(--gold); // Zlatá
$sidebar-hover: #335033; // Zelená hover

.sidebar {
  width: 240px;
  height: 100vh;
  background: linear-gradient(130deg,$sidebar-bg 60%,rgb(21, 37, 17) 40%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #476947;
  color: $sidebar-text;
  padding: 10px;

  // Horní část sidebaru
  .user-section {
    display: flex;
    align-items: center;
    padding: 10px;

    .user-avatar {
      width: 40px;
      height: 40px;
      background-color: #ccc;
      border-radius: 50%;
      cursor: pointer;
    }

    .username {
      margin-left: 10px;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .search-box {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #3a5a40;
    color: white;
    outline: none;

    &::placeholder {
      color: #ddd;
    }
  }

  // Navigační menu
  .nav-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;

    .nav-item {
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background-color: $sidebar-hover;
      }

      .icon {
        width: 20px;
        margin-right: 10px;
      }

      .text {
        font-size: 16px;
      }
    }
  }

  // Spodní část s ikonou a textem
  .bottom-section {
    display: flex;
    align-items: center;
    padding: 10px;

    .logo {
      width: 69px;
      height: 69px;
      cursor: pointer;
    }

    .brand {
      margin-left: 10px;
      font-weight: bold;
      font-size: 20px;
      color: $sidebar-text;
      cursor: pointer;
    }
  }
  .sign-out-popup {
    position: absolute;
    top: 60px;
    left: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    p {
      margin: 0 0 10px;
      font-size: 14px;
      color: #333;
    }

    button {
      margin-right: 10px;
      padding: 5px 10px;
      border: none;
      border-radius: 3px;
      cursor: pointer;

      &:first-of-type {
        background-color: #d9534f;
        color: #fff;
      }

      &:last-of-type {
        background-color: #5bc0de;
        color: #fff;
      }
    }
  }
}
